body{
    background-color: rgb(222, 251, 255);
    color:darkblue;
    font-family:sans-serif;
}

#container{
    width: 1000px;
    margin: 0 auto;
    background-color:powderblue;
    padding: 40px;
    border: black 2px;
}
h1{
    background-color: darkblue;
    color:whitesmoke;
    border:aliceblue;
    border-radius: 15px;
    padding: 15px;
    margin-bottom:50px;
    width: 35%;
    text-align: center;
    margin: 0 auto;
    font-size:2.4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2{
    text-align:center;
    font-size:1.2em;
    font-style:italic;
}

p{
    line-height: 2.4em;
}

img{
    float:left;
    width:300px;
    border:white solid 3px;
    border-radius:15px;
    margin-right:20px;
}

a:link{
    color: rgb(179, 0, 255);
}

a:visited{
    color:rgb(255, 150, 150)
}


a:hover{
    color:rgb(188, 255, 255);
}

#pic2{
    float:right;
    margin-left:8px;
}

/* CLASS RULE */
.highlight{
    font-weight:bold;
    background-color:rgb(171, 255, 210);
    font-style:italic;
}

#sidebar{
    background-color:cornflowerblue;
    width: 225px;
    float:right;
    border:2px solid white;
    margin: 15px;
    margin-top: 80px;
    line-height: 2.25em;
}

#sidebar h3{
    padding: 10px;
}
p{
    text-align: justify;
}

@media (max-width:1200px){
    #container{
        background-color:#e0dcdc;
        width: 800px;
    }
    .highlight{
            background-color:rgb(231, 174, 255);
        }
}

@media (max-width: 992px){
    #container{
        width: 100%;
    }
    #container, p{
        margin:0;
        padding: 0;
        border: none;
    }
    .highlight{
            background-color:rgb(231, 174, 255);
        }
}

@media(max-width:768px){
    #sidebar{
        display: none;
    }
    img, #tkd, #san_diego, #cmb{
        float:none;
        border:none;
        width: 100%;
    }
    .highlight{
            background-color:rgb(231, 174, 255);
        }
}